.alert {
  &-success, &-danger {
    margin: 10px;
    padding: 16px;
    border-radius: 3px;
    color: white;
    font-family: Arial;
  }

  &-success {
    background-color: #4caf50;
  }

  &-danger {
    background-color: #e51c23;
  }
}
